/*
 * Lay this page out - make it responsive, use grid, flex, position and media queries where needed.
 *
 * Colors-
 * Green: #14a96d
 * Dark Green: #14a96d
 * White: #fff
 * Light gray: #f4f5f6
 * Border gray: #cfd7de
 * Dark text: #1b1f23
 * Lighter text: #66727c
 * Blue for links: #06748a
 * Blue for hovered links: #033641
 */

/* Globals */
* {
  box-sizing: border-box;
}

body {
  font-family: "Cabin", sans-serif;
  font-size: 18px;
  color: #1b1f23;
  margin:0;
  height:auto;
  display:block;
  width:100%;
  overflow-x:hidden;
}


 .container_fixed{
  max-width: 1200px;
  margin: 0 auto;
 }

 a{
text-decoration: none;
color: #06746a
 }

 a:hover {
  color: #033641;
 }

 .site_header_inner{
  display: flex;
  margin: 20px;
 }
.site_header_inner .burger{
  display: none;
}
.navigation{
  display: flex;
  justify-content: space-between;
  padding: 0%;
  font-size: 1rem;
  width: 100%;
  align-items: flex-end;
}
.navigation ul{
  list-style: none;
  margin: 0%;
  padding: 0%;
  display: flex;
  gap: 20%;
}

.site_header_inner .navigation ul{
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  gap: 20px;
}
.site_header_inner .navigation ul a {
  color: #66727c;
  text-decoration: none;
  font-size: 1.2rem;

}

.site_header_inner .logo img{
  max-width: 180px;
}

/* hero container */
.rover_hero_container{
  background-image: url(../img/hero.jpg) ;
  background-size: cover;
  overflow: hidden;
}
.hero_callout{
  max-width: 50%;
  margin: 200px 0;
  padding: 20px;
  color:#66727c
}
.hero_callout .hero_hdr{
  font-size: 3rem;
}

.hero_callout .hero_tagline{
  font-size: 2rem;
}

.btn{
  color: white;
  text-decoration: none;
  background:#14a96d ;
  display: inline-block;
  padding: 20px 40px;
min-width: 200px;
text-align: center;
border-radius: 5px;
}
.btn:hover{
  background:#14a96d ;
  color: white;

}

@media (max-width: 1150px){
  .hero_callout{
    background: white;
  }
}

@media (max-width: 760px){
  .rover_hero_container{
    background: none;
  }

  .hero_callout .hero_hdr{
    display: none;
  }

  .hero_callout .hero_tagline{
    font-size:1.5rem ;
    font-weight: bold;
  }


}

/* middle section*/

.rover_middle_section .section_hdr{
  text-align: center;
  font-size: 1.5rem;
  margin-top: 4rem;
}

.rover_facts_2col {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

@media (max-width: 760px) {
  .rover_facts_2col{
    grid-template-columns: 1fr;
  }
}

.rover_facts_container ul{
  list-style: none;
  margin: 0;
  padding: 0;
}

.rover_facts_container ul li {
  display: grid;
  grid-template-columns:140px 1fr ;
}

.rover_facts_container ul li h2 {
  margin-bottom:0 ;
}
.rover_facts_container ul li p{
  margin-top: 8px;
}

/* rover_cta_box */

.rover_cta_box {
  border: 1px solid #cfd7de;
  border-radius: 5px;
}

.rover_cta_header {
  background-color: #f4f5f6;
  display: flex;
  padding: 20px;
  gap: 20px;
}
.rover_cta_header img{
  max-width: 50px;
}

.rover_cta_box_content {
  padding: 20px;
}

.rover_cta_box_content > *:last-child{
  margin-bottom: 0;
}

.rover_cta_box_content .rover_facts {
  margin: 0;
  padding: 0;
  list-style: none;
}

.rover_cta_box_content .rover_facts li {
  margin-bottom: 20px;
}

.rover_cta_box_content .rover_facts li .fas {
  color: #0d784d;
}
.rover_cta_box_content .btn{
  min-width: 100%;
}

.rover_protections{
  text-align: center;
  padding-left: 20px;
  padding-right: 20px;
}